.container {
  position: relative;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .page {
    position: absolute;
    .inner {
      display: flex;
      align-items: center;
      h1 {
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
        }
        .title-img {
          z-index: -1;
        }
      }
      @include media("<=1080px") {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
