.animation {
  img {
    height: 600px;
    object-fit: cover;
    @include media("<=1177px") {
      height: 540px;
    }
    @include media("<=1024px") {
      height: 700px;
    }
    @include media("<=tablet") {
      height: 550px;
    }
    @include media("<=540px") {
      height: 400px;
    }
    @include media("<=phone") {
      height: 300px;
    }
    @include media("<=320px") {
      height: 200px;
    }
  }
}
