.animation {
  img {
    width: 600px;
    @include media("<=tablet") {
      width: 500px;
      min-width: 500px;
    }
    @include media("<=540px") {
      width: 400px;
      min-width: 400px;
    }
    @include media("<=phone") {
      width: 320px;
      min-width: 320px;
    }
    @include media("<=280px") {
      width: 260px;
      min-width: 260px;
    }
  }
}
