.socialbar {
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  position: fixed;
  .social-links {
    padding: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    @include media("<=540px") {
      font-size: 1rem;
    }
    a {
      padding-top: 16px;
      color: $white;
    }
    a:hover {
      color: $gold;
    }
  }
}
