.socialbar {
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  position: fixed;
  .social-links {
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    a {
      padding-top: 16px;
      color: #fff;
    }
    a:hover {
      color: #ddbd54;
    }
  }
}
