@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500;1,700&display=swap');

$font: 'Roboto', sans-serif;
$white: #FFF;
$black: #010101;
$gold: #b79336;
$silver: #ebecf1;
