section {
  position: absolute;
  width: 90%;
  height: 72%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section .project {
  position: relative;
  height: 100%;
  flex: 1;
  background: $white;
  border-right: 2px solid white;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

section .project:last-child {
  border-right: none;
}

.project:hover {
  flex-grow: 12;
}

section .project:nth-child(1) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282254/datefox_i5vlpv.png");
  background-position: center center;
}

section .project:nth-child(2) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282257/gardenfox_yt1hp5.png");
  background-position: center center;
}

section .project:nth-child(3) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282252/project_l5qf9p.jpg");
  background-position: center center;
}

section .project:nth-child(4) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282252/project_l5qf9p.jpg");
  background-position: center center;
}

section .project:nth-child(5) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282252/project_l5qf9p.jpg");
  background-position: center center;
}
section .project:nth-child(6) {
  background: url("https://res.cloudinary.com/daf8fgekl/image/upload/v1598282252/project_l5qf9p.jpg");
  background-position: center center;
}

section .project .description {
  position: absolute;
  bottom: 0;
  margin: 40px;
  padding: 30px;
  background: #000;
  visibility: hidden;
  opacity: 0;
  transition: 0s;
  transform: translateY(100px);
}

section .project:hover .description {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(0);
}

section .description h4 {
  letter-spacing: 2px;
}

section .description a {
  color: #f2f4f7;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section .description a:hover {
  text-decoration: none;
  color: #ddbd54;
}

section .description p {
  letter-spacing: 2px;
  font-size: 12px;
}
