@import "./components/variables.scss";
@import "./components/brakepoints.scss";
@import "./components/nav.scss";
@import "./components/sidebar.scss";
@import "./components/footer.scss";
@import "./components/home.scss";
@import "./components/portret.scss";
@import "./components/about.scss";
@import "./components/work.scss";
@import "./components/contact.scss";

.App {
  height: 100vh;
  background: $black;
  color: $white;
  font-family: $font;
  display: flex;
  flex-direction: column;
}
